<h2 style="color:#34495e"><%= @event.name %></h2>
<iframe width="420" height="345"
src="https://www.youtube.com/v/NurDNa_taLU">
</iframe>
<br/><br/>
<%= link_to 'Vote Now','', :class=>"btn btn-success", :id=>"participate"%>
