<section >
 <!-- <section id="recent-works"> -->
 <h2 width="100%" style="background-color:#34495e;color:white">Upcoming Events</h2>
 <div class="container">
  <div class="row">
 <div class="col-md-9">
  <div id="scroller" class="carousel slide">
   <div class="carousel-inner">
    <div class="item active">
     <div class="row">
      <% unless @events.any? %>
      <div class="col-xs-4">
       <div class="portfolio-item">
        <div class="item-inner">
         <h5>
          No Events under here.
        </h5>
        <div class="overlay">

        </div>
      </div>
    </div>
  </div> 
  <%else%>
  <% @events.each_with_index do |e,index| %>
  <div class="col-xs-4">
    <div class="portfolio-item">
     <div class="item-inner">
      <img class="img-responsive" height="285" src="<%= e.cover_pic_url%>" alt="">
      <h5>
       <%= e.name%>
     </h5>
     <div class="overlay">

     </div>
   </div>
 </div>
 <% if e.user_events.where(:user_id=>session[:current_user])%>
 <%= link_to 'Participate', '', :class=>"btn btn-success", :id=>"participate",:disabled =>"disabled"%>
 <%else%>
 <%= link_to 'Participate',participate_event_home_path(e), :class=>"btn btn-success", :id=>"participate"%>
 <%end%>
</div> 
<% break unless index == 2 %>
<%end%> 
<%end%>                          
</div><!--/.row-->
</div><!--/.item-->
</div>
</div>
</div>
</div><!--/.row-->
</div>
<!-- </section> -->
<!--/#recent-works-->
</section>